.moin table
{
/*    margin: 0.5em 0 0 0.5em;*/
    margin: 0 0 0 0;
    border-collapse: collapse;
    width: auto;
}

.moin th, .moin td
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: 1px solid tan;
}

.moin td p {
    margin: 0;
    padding: 0;
}


.moin.hr1 hr {height: 1px; background-color: #c0c0c0; border: none;}
.moin.hr2 hr {height: 2px; background-color: #c0c0c0; border: none;}
.moin.hr3 hr {height: 3px; background-color: #c0c0c0; border: none;}
.moin.hr4 hr {height: 4px; background-color: #c0c0c0; border: none;}
.moin.hr5 hr {height: 5px; background-color: #c0c0c0; border: none;}
.moin.hr6 hr {height: 6px; background-color: #c0c0c0; border: none;}
.moin.hr7 hr {height: 7px; background-color: #c0c0c0; border: none;}
